modules = ["python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run src/streamlit_app.py --server.address=0.0.0.0 --server.port=8501"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 37071307

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run src/streamlit_app.py --server.address=0.0.0.0 --server.port=8501"

[[ports]]
localPort = 8501
externalPort = 80
