modules = ["python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Streamlit"

[[workflows.workflow]]
name = "Streamlit"
author = 37071307

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run src/streamlit_app.py --server.address=0.0.0.0 --server.port=8501"
